.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.buttons button {
  margin-left: 10px;
  padding: 10px 16px;
  border: none;
  background-color: #a02020;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
  margin-bottom: 1rem;
}
